* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "segoe ui light";
}


/* Home section */

.header {
    background-image: url(../Image/shutterstock_277750193.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: 630px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden;
}

.logo {
    height: 50px;
    float: left;
    padding: 10px;
    padding-top: 0px;
}

.logo img {
    height: 100%;
    margin: auto;
}

.list {
    width: 80%;
    float: right;
    font-size: 18px;
}

.list ul {
    padding-left: 0;
    overflow: hidden;
}

.list li {
    float: right;
    padding: 10px;
    list-style: none;
    padding-top: 20px;
}

.home {
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.home img {
    width: 400px;
    height: 220px;
}

.home p {
    font-size: 230%;
    font-family: 'Dancing Script', cursive;
}

.home .btns {
    padding-top: 30px;
}

.home .btns button {
    padding: 15px 28px;
    border: none;
}

.home .btns .learn_more {
    background-color: #c1ab84;
}

.home .btns .book_visit {
    background-color: white;
}


/* Chef section */

.discover {
    overflow: hidden;
}

.discover .chef {
    width: 40%;
    float: left;
}

.discover .chef img {
    width: 100%;
}

.discover .chef-caption {
    width: 60%;
    float: left;
    text-align: center;
    padding-top: 200PX;
}

.discover .chef-caption span {
    color: #f2ce08;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}

.discover .chef-caption p {
    color: #868686;
    padding: 40px;
    font-size: 18px;
}

.discover .chef-caption button {
    border: 2px solid #231f20;
    border-radius: 4PX;
    background-color: transparent;
    padding: 15px 20px;
}


/*Team section*/

.Team {
    padding: 30px;
    overflow: hidden;
    height: auto;
    ;
}

.Team .chef {
    width: 40%;
    float: left;
}

.Team .chef-caption {
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 300px;
}

.Team .chef img {
    width: 100%;
}

span {
    color: #f2ce08;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}

.Team {
    padding: 30px;
    overflow: hidden;
    height: auto;
    ;
}

.Team .chef {
    width: 40%;
    float: left;
}

.Team .chef-caption {
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 300px;
}

.Team .chef img {
    width: 100%;
}

span {
    color: brown;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}

.Team .chef-caption p {
    color: #868686;
    padding: 40px;
    font-size: 18px;
}

.Team .chef-caption a {
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    background-color: transparent;
    border: 2px solid #000;
}


/*End of Team section design */

/*out-door */
.out-door{
    background-image:url(bgs.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 350px;

}

/*Meals Section*/

.meals {
    width: 100%;
    height: 50%;
    padding: 40px 30px;
    overflow: hidden;
}

.meals .meal {
    width: 24%;
    height: 100%;
    text-align: center;
    float: left;
}

.meals .meal img {
    border-radius: 50%;
}

.border {
    width: 25%;
    height: 2px;
    background-color: #ccc;
    margin: auto;
}

.meals .meal h2 {
    padding: 10px 0px;
}

.meals .meal p {
    padding: 10px 0px;
    color: #868686;
}


/* footer section */

.footer {
    background-color: #868686;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #fff;
}

.img {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
}

.i img {
    width: 100%;
}

.rights {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}